//Custom LESS file with all the specific styles per theme.

////////////
// LAYOUT //
////////////

body, h1, h2, h3, h4, h5, h6 {
 font-family:  @font-family-sans-serif;
}
a, 
a:active,
a:visited,
a:focus,
a:hover {
  color: @link-color;
  &:hover {
    color: @link-hover-color;
  }
}
// header
header#top {
	margin-bottom: 1em;
}

// main column & sidebar
.middle {
	.column(8);
}
.sidebar {
	.column(2);
}
#accordion,
.block,
.modal-wrapper {
  .column(3);
}
.row {
  .row(12);
}
section[class*="col"] {
  .column(1);
  background: red;
  &.grid2 {
    .column(2);
    background: gray;
  }
  &.grid3 {
    .column(3);
    background: gray;
  }
  &.grid4 {
    .column(4);
    background: gray;
  }
}

header#top {
	background-color: #000;
}
h1 {
	font-size: 2em;
	color: #fff;
	 a {
		color: white;
		text-decoration: none;
	}
}
h2 {
	font-size: 1.5em;
	color: @black;
	text-align: center;
}
h3 {
	font-size: 1em;
	color: @black;
}
.back-to-top {
  padding: 1000px 0 10px 0;
  .push(10);
  display: block;
}
#accordion {
  .box {
  border: solid 1px @startColor;
  border-top: none;
  padding: 10px;
  }
  h3 {
    cursor: pointer;
    margin: 0;
    color: @white;
    text-shadow: @textShadow;
    border: solid 1px @endColor;
    #gradient > .vertical(@startColor, @endColor);
    padding: 5px;
    &.up:first-child {
    }
    &.up {
      #gradient > .vertical(@endColor, @startColor);
    }
    &:before {
      content: "\f055";
      font-family: "FontAwesome";
      margin: 0 5px 0 0;
      font-size: 0.813em;
    }
    &.up:before {
      content: "\f056";
    }
  }
}
.sidebar {
  .border-radius(8px);
  #gradient > .vertical(@white, @gray);
  position: relative; 
}
.popup {
  text-align: center;
}
.trigger {
  cursor: pointer;
}
.dropdown-menu {
  background-color: @white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  .border-radius(6px);
  .box-shadow(1px 0 5px #ccc);
  left: 50%;
  display: none;
/*   width: 100%; */
  width: 70%;
  padding: 1px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: normal;
  z-index: 1010;
  margin: 0 0 0 -35%;
   .padded {
     padding: 1.5%;
   }
    &:before {
      .arrow-top();
    }
    &:after {
      .arrow-top(6px, solid, #fff);
    }
    //dropdown on top
    &.top {
      bottom:90%;
      top: auto;
      &:before {
        .arrow-bottom();
      }
      &:after {
        .arrow-bottom(6px, solid, #fff); 
      }
    }
    //dropdown on the right.
    &.right {
      left: 107%;
      top:5px;
      &:before {
        .arrow-right();
      }
      &:after {
        .arrow-right(6px, solid, #fff); 
      }
    }
    //dropdown on the left
    &.left {
      left: auto;
      right: 70%;
      top: 5px;
      &:before {
        .arrow-left();
      }
      &:after {
        .arrow-left(6px, solid, #fff); 
      }
    }
}
.block {
  h5 {
    margin: 0 0 10px 0;
  }
  .more-link {
    color: @link-color;
    cursor: pointer;
   &:after {
     font-family: "FontAwesome";
     font-size: 0.875em;
     content: "\f165";
     margin: 0 0 0 5px;
     text-shadow: 0.1em 0.1em #111;
   }
   &.down:after {
     content: "\f164";
   }
  }
}

